/__pycache__
/.vscode
/info&tools
/data/train
/data/test
/dataset_gen/input_mixed
/dataset_gen/input_real
/dataset_gen/input_synthetic
/dataset_gen/output
/data/info.txt
/input
/output
/checkpoints
/analysis/__pycache__
/cross_validation/__pycache__
/export_plotting/__pycache__
/preprocessing/__pycache__
/single_training/__pycache__
/utilities/__pycache__
